<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SubstitutionAssignmentServlet</servlet-name>
        <servlet-class>com.Controller.SubstitutionAssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubstitutionServlet</servlet-name>
        <servlet-class>com.Controller.SubstitutionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>com.Controller.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveServlet</servlet-name>
        <servlet-class>com.Controller.LeaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleSerlvet</servlet-name>
        <servlet-class>com.Controller.ScheduleSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleServlet</servlet-name>
        <servlet-class>com.Controller.ScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TeacherDao</servlet-name>
        <servlet-class>com.Dao.TeacherDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTeacherServlet</servlet-name>
        <servlet-class>com.Controller.SaveTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTeacherServlet</servlet-name>
        <servlet-class>com.Controller.DeleteTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTeacherServlet2</servlet-name>
        <servlet-class>com.Controller.EditTeacherServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTeacherServlet</servlet-name>
        <servlet-class>com.Controller.EditTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageProfileServlet</servlet-name>
        <servlet-class>com.Controller.manageProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDao</servlet-name>
        <servlet-class>com.Dao.UserDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveLeaveServlet</servlet-name>
        <servlet-class>com.Controller.SaveLeaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLeaveServlet</servlet-name>
        <servlet-class>com.Controller.DeleteLeaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLeaveStatusServlet</servlet-name>
        <servlet-class>com.Controller.UpdateLeaveStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SwitchRoleServlet</servlet-name>
        <servlet-class>com.Controller.SwitchRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExitTeacherRoleServlet</servlet-name>
        <servlet-class>com.Controller.ExitTeacherRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendResetLinkServlet</servlet-name>
        <servlet-class>com.Controller.SendResetLinkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.Controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveScheduleServlet</servlet-name>
        <servlet-class>com.Controller.SaveScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateScheduleServlet</servlet-name>
        <servlet-class>com.Controller.UpdateScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteScheduleServlet</servlet-name>
        <servlet-class>com.Controller.DeleteScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>com.Controller.TeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.Controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>substitutionRequestServlet</servlet-name>
        <servlet-class>com.Controller.substitutionRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubstitutionRequestServlet</servlet-name>
        <servlet-class>com.Controller.SubstitutionRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherDao</servlet-name>
        <url-pattern>/TeacherDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTeacherServlet</servlet-name>
        <url-pattern>/SaveTeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTeacherServlet</servlet-name>
        <url-pattern>/DeleteTeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTeacherServlet2</servlet-name>
        <url-pattern>/EditTeacherServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTeacherServlet</servlet-name>
        <url-pattern>/EditTeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageProfileServlet</servlet-name>
        <url-pattern>/manageProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDao</servlet-name>
        <url-pattern>/UserDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveLeaveServlet</servlet-name>
        <url-pattern>/SaveLeaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLeaveServlet</servlet-name>
        <url-pattern>/DeleteLeaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLeaveStatusServlet</servlet-name>
        <url-pattern>/UpdateLeaveStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SwitchRoleServlet</servlet-name>
        <url-pattern>/SwitchRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExitTeacherRoleServlet</servlet-name>
        <url-pattern>/ExitTeacherRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendResetLinkServlet</servlet-name>
        <url-pattern>/SendResetLinkServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveScheduleServlet</servlet-name>
        <url-pattern>/SaveScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateScheduleServlet</servlet-name>
        <url-pattern>/UpdateScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteScheduleServlet</servlet-name>
        <url-pattern>/DeleteScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/TeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>substitutionRequestServlet</servlet-name>
        <url-pattern>/substitutionRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubstitutionRequestServlet</servlet-name>
        <url-pattern>/SubstitutionRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubstitutionAssignmentServlet</servlet-name>
        <url-pattern>/SubstitutionAssignmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubstitutionServlet</servlet-name>
        <url-pattern>/SubstitutionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveServlet</servlet-name>
        <url-pattern>/LeaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleSerlvet</servlet-name>
        <url-pattern>/ScheduleSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleServlet</servlet-name>
        <url-pattern>/ScheduleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
