tr td{
    padding-top:20px;
    font-size:17px;
}
.div{
    padding-left:30px;
}
table{
    margin:20px auto 5px auto;
}
input{
    margin-left: 5px;
    padding-left: 5px;
}
label,.form-label{
    font-size:17px;
    margin-right: 100px;
}
input,select,option{
    font-size: 17px;
}
.form-select option{
    font-size: 17px;
}
#formButton{
    margin:1% auto;
    text-align: center;
}
.row{
    padding:1% 3%;
}
#formButton input{
    background-color: #1fbfdb;
    color:white;
    border: 0px;
    border-radius:10px;
    padding:8px 20px;
    font-size:15px;
    margin:5px 20px 0px 20px;
    box-shadow: 2px 2px 2px black;
}
#formButton input:hover{
    opacity:0.8;
}
#title{
    text-align: center;
    font-size:28px;
    margin:10px auto;
    text-shadow:
        2.5px 2.5px 0px #1fb1c4 ,
        5px 5px 2px rgba(255, 255, 255);
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
#button{
    background-color: #1fbfdb;
    color:white;
    border: 0px;
    border-radius:10px;
    padding:8px 20px;
    font-size:15px;
    width:fit-content;
    height:fit-content;
    margin:5px 20px 0px 20px;
    box-shadow: 2px 2px 2px black;
}



