#title {
    text-align: center;
    font-size: 28px;
    margin: 10px 20px;
    text-shadow:
        2.5px 2.5px 0px #1fb1c4,
        5px 5px 2px rgba(255, 255, 255);
}
table {
    width: 95%;
    border-collapse: collapse;
    margin: 5px auto;
}
table, th, td {
    border: 1.5px solid #1fb1c4;
}
th, td {
    padding: 10px;
    text-align: left;
    font-size: 15px;
}
th {
    background-color: #1fb1c4;
    text-align: center;
    font-size: 15px;
}
tr:nth-child(even) {
    background-color: #acebf2;
}
tr:nth-child(even) {
    background-color: #c8f4f7;
}
tr:hover {
    background-color: #ddd;
}
table tr th{
    text-align:  center;
}
#button{
    background-color: #1fbfdb;
    color:white;
    border: 0px;
    border-radius:10px;
    padding:5px 10px;
    font-size:12px;
    margin-bottom: 20px;
    width:fit-content;
    float: right;
    margin-right:2.5%;
    box-shadow: 2px 2px 2px black;
}
#button:hover{
    opacity:0.8;
}
#section{
    margin-bottom: 0px;
    overflow:auto;
}
.delete-icon i{
    color: red;
    font-size:13px;
}

.delete-icon i:hover {
    color: darkred;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}
@media screen and (max-width: 767px) {
    #title {
        font-size: 25px;
        margin: 5px;
    }
    table {
        margin: 3px auto;
    }
    th, td {
        padding: 5px;
        font-size: 12px;
    }
    th {
        font-size: 12px;
    }
    .delete-icon i{
        font-size:10px;
    }
    #button{
        padding:5px;
        font-size:12px;
        margin-bottom: 10px;
        width:15%;
    }
}
