.schedule-table {
    display: block;
    width: 100%;
    overflow-x: auto; /*enable horizontal scrolling*/
    white-space: nowrap;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.schedule-table table {
    margin: 1% auto;
    width: 95%;
    max-width: 100%;
    border-collapse: collapse;
}

.schedule-table table thead th {
    padding: 20px 3px;
    background-color: #0d7280;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    position: relative;
    border: 0;
    white-space: nowrap;
}

.schedule-table table thead th span {
    font-size: 10px;
    font-weight: 500;
}

.schedule-table table thead th:before {
    content: "";
    width: 3px;
    height: 35px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
}

.schedule-table table thead th.last:before {
    content: none;
}

.schedule-table table tbody td {
    vertical-align: middle;
    border: 1px solid #e2edf8;
    font-weight: 500;
    padding: 20px 10px;
    text-align: center;
    white-space: nowrap;
}

.schedule-table table tbody td.day {
    font-size: 16px;
    font-weight: 600;
    background: #3fa7b5;
    border: 1px solid #e4e4e4;
    position: relative;
    transition: all 0.3s linear 0s;
    min-width: 100px;
}

.schedule-table table tbody td.active {
    position: relative;
    z-index: 10;
    transition: all 0.3s linear 0s;
    min-width: 100px;
}

.schedule-table table tbody td.active h4 {
    font-weight: 700;
    color: #000;
    font-size: 15px;
    margin-bottom: 5px;
}

.schedule-table table tbody td.active p {
    font-size: 13px;
    line-height: normal;
    margin-bottom: 0;
}

.schedule-table table tbody td.active::before {
    position: absolute;
    content: "";
    min-width: 100%;
    min-height: 100%;
    transform: scale(0);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: all 0.3s linear 0s;
}

#button1, #button2, #button3 {
    background-color: #1fbfdb;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 8px 5px;
    font-size: 12px;
    width: 10%;
    margin: auto;
    float: right;
    margin-right: 2.5%;
    height: 30px;
    box-shadow: 2px 2px 2px black;
}

#button1:hover, #button2:hover, #button3:hover {
    opacity: 0.8;
}

.subject-hidden, .class-hidden {
    color: black;
    font-size: 14px;
    visibility: visible;
}

.event-display {
    color: black;
    font-size: 14px;
    text-align: left;
}

@media only screen and (min-width: 1025px) {
    .schedule-table table thead th {
        padding: 25px 40px;
    }
    .schedule-table table tbody td {
        padding: 20px;
    }
    .schedule-table table tbody td.active h4 {
        font-size: 18px;
    }
    .schedule-table table tbody td.active p {
        font-size: 15px;
    }
    .schedule-table table tbody td.day {
        font-size: 20px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .schedule-table table thead th {
        font-size: 18px;
        padding: 20px;
    }
    .schedule-table table tbody td.day {
        font-size: 18px;
    }
    .schedule-table table tbody td.active h4 {
        font-size: 17px;
    }
    #button1, #button2, #button3 {
        padding: 2px 5px;
        font-size: 12px;
        width: 15%;
        margin-right: 2%;
        height: 20px;
    }
}

@media screen and (max-width: 767px) {
    .schedule-table table thead th {
        font-size: 15px;
        padding: 15px;
    }
    .schedule-table table tbody td {
        padding: 15px;
    }
    .schedule-table table tbody td.active h4 {
        font-size: 16px;
    }
    .schedule-table table tbody td.active p {
        font-size: 14px;
    }
    .schedule-table table tbody td.day {
        font-size: 14px;
    }
    #button1, #button2, #button3 {
        padding: 1px 2px;
        font-size: 10px;
        width: 15%;
        margin-right: 1.5%;
        height: 20px;
    }
}

@media screen and (max-width: 575px) {
    .schedule-table table tbody td.day {
        min-width: 135px;
    }
    #button1, #button2, #button3 {
        font-size: 9px;
        width: 18%;
        margin-right: 1.5%;
        height: 20px;
    }
}
